*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    width: 100%;

}

#parent {
    display: flex;
    align-items: center;  /*y axis*/
    justify-content: space-evenly;  /* x axis*/
    height: 100%;
    width: 100%;
    background-color: #222;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2 {
    /* position: absolute;
    top: 0;
    left: 200px; */
    height: 200px;
    width: 200px;
    background-color: red;
}

#box3 {
    height: 200px;
    width: 200px;
    background-color: magenta;
}