*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
h1{
    color: red;
    font-size: 10vmin;

}

#box{
    height: 30vmax;
    width: 30vmax;
    background-color: crimson;
}

#inner{
    height: 50%;
    width: 50%;
    background-color: #fff;
}
.parent{
    background-color: lightcoral;
    width: 60%;
    margin: 20px;
    padding: 20px;
    font-size: 22px;
}

h2{
    font-size: 3rem;
}

h4{
    font-size: 1em;
}
h6{
    font-size: 2r em;
}
p{
    font-size: 0.5em;
}